@media (max-width: 768px) {
  .logoHeader img {
    display:none;
  }
  .bannerHeader img{
    display:none;
  }
  .logocentral {
    background-position: center-top;
    max-width: 100px;
    max-height: 100px;
  }
  .menu {
    margin: auto;
    border: 4px solid greenyellow;
    margin-left: 10px;
    
  }
  .menu ul {
    display: flex;
    margin-left:auto;

  }
  #ceuAberto{
  background-color: #d85434;

  }
}