* {   
    background-color: #d85434;
    list-style: none;
    font-family : 'Montserrat', sans-serif;
}

.header {
    display: inline-flexbox;
    justify-content: baselines;
}

#ceuAberto {
    display: flex;

}